body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*color pallet taken from https://coolors.co/565656-b2ffa9-ff4a1c-81523f-3f2a2b*/
:root {
  --primary: hsla(0, 0%, 34%, 1); /*davys-grey*/
  --secondary: hsla(114, 100%, 83%, 1); /*mint-green*/
  --tertiary: hsla(12, 100%, 55%, 1); /*red-orange-color-wheel*/
  --quaternary: hsla(17, 34%, 38%, 1); /*coffee*/
  --background: hsla(357, 20%, 21%, 1); /*old-burgundy*/
}
